body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "PT Sans", sans-serif; */
  background-color: rgb(229, 219, 219);
  text-transform: capitalize;
  height: 100vh;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
}

.bg {
  background-color: #6a003e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 25px;
  padding: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.card_display {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-wrap: wrap;
}

/* .card {
  font-size: 2rem;
  padding: 5px;
  border-radius: 10px;
} */

.result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-size: 150px;
}
.buttons_display {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}
